states.json
{
  "StartAt": "UPDATE_MATCHES",
  "Comment": "Updates currently being played every 10 seconds",
  "States": {
    "UPDATE_MATCHES": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:925427442847:function:premier-predictor-dev-match-update",
      "ResultPath": "$.next",
      "Next": "CHECK_MATCHES_FINISHED"
    },
    "CHECK_MATCHES_FINISHED": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.next",
          "StringEquals": "UPDATE_USER_SCORES",
          "Next": "UPDATE_USER_SCORES"
        },
        {
          "Variable": "$.next",
          "StringEquals": "WAIT",
          "Next": "WAIT"
        },
        {
          "Variable": "$.next",
          "StringEquals": "END",
          "Next": "END"
        }
      ]
    },
    "WAIT": {
      "Type": "Wait",
      "Seconds": 10,
      "Next": "UPDATE_MATCHES"
    },
    "UPDATE_USER_SCORES": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:925427442847:function:premier-predictor-dev-user-score-updater",
      "End": true
    },
    "END": {
      "Type": "Succeed",
      "End": true
    }
  }
}